<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Tiara Automation Suite">

    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test name="Regression Suite">

        <classes>
            <class name="tests.LoginLogoutTests"/>
            <class name="tests.ProfileSwitchTests"/>
            <class name="tests.ForgotPasswordTests"/>
            <class name="tests.RoleBasedTests"/>
        </classes>

    </test>

</suite>